@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Outfit:wght@300;400;600&display=swap');

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: start;
}

.left-card {
    background-color: var(--bright-orange);
    width: 13rem;
    height: 23rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mid-card {
    background-color: var(--dark-cyan);
    width: 13rem;
    height: 23rem;
}

.right-card {
    background-color: var(--very-dark-cyan);
    width: 13rem;
    height: 23rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h2 {
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    margin: 30px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    display: flex;
    margin: 30px;
    text-align: start;
}

.learn-more {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
    font-size: 0.8rem;
    margin: 30px;
    text-decoration: none;
}

.left-btn {
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    color: var(--bright-orange);
    background-color: white;
} 

.left-btn:hover {
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    color: white;
    background-color: var(--bright-orange);
}
.mid-btn {
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    color: var(--dark-cyan);
    background-color: white;
}

.mid-btn:hover {
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    color: white;
    background-color: var(--dark-cyan);
}


.right-btn {
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    color: var(--very-dark-cyan);
    background-color: white;
}

.right-btn:hover {
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    color: white;
    background-color: var(--very-dark-cyan)
}

.icon-car {
    display: flex;
    justify-content:flex-start;
    size: 15px;
    margin: 30px;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    margin: 20px;
}

.attribution a {
    color: var(--bright-orange);
    
}

@media (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .sedan {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .luxury {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
    }
}
